<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main">
        <div class="main-content">
            <div class="navbar">
                <div class="navbar-left">
                    <div class="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="title">
                        <p> <strong>Order</strong> something</p>
                    </div>
                </div>
                <div class="navbar-right">
                    <input type="text" name="" id="search" placeholder="Search">
                    <img src="./assets/search_icon.svg" width="25px;" alt="Search icon">
                </div>
            </div>
            <div class="categories">
                <div class="category">
                    <span>All</span>
                </div>
                <div class="category">
                    <span>Pizza</span>
                </div>
                <div class="category">
                    <span>Burger</span>
                </div>
                <div class="category">
                    <span>Dinner</span>
                </div>
                <div class="category">
                    <span>Fruit</span>
                </div>
                <div class="category">
                    <span>Meat</span>
                </div>
                <div class="category">
                    <span>Vegetables</span>
                </div>
                <div class="category">
                    <span>Sushi</span>
                </div>
                <div class="category">
                    <span>Paste</span>
                </div>
                <div class="category">
                    <span>Noodles</span>
                </div>
            </div>
            <div class="food-container">
                <div class="section-title">
                    <span>Popular dishes</span>
                </div>
                <div class="foods">
                    <div class="food">
                        <img src="./assets/chicken_salad.png" alt="">
                        <div class="food_title">
                            <span>Classic Chicken Salad</span>
                        </div>
                        <div class="details">
                            <img id="rating-star" src="./assets/star.svg" alt="">
                            <p id="rating">4.5</p>
                            <p id="location">Jump Cafe - Nepal</p>
                        </div>
                    </div>
                    <div class="food">
                        <img src="./assets/chicken_salad.png" alt="">
                        <div class="food_title">
                            <span>Classic Chicken Salad</span>
                        </div>
                        <div class="details">
                            <img id="rating-star" src="./assets/star.svg" alt="">
                            <p id="rating">4.5</p>
                            <p id="location">Jump Cafe - Nepal</p>
                        </div>
                    </div>
                    <div class="food">
                        <img src="./assets/chicken_salad.png" alt="">
                        <div class="food_title">
                            <span>Classic Chicken Salad</span>
                        </div>
                        <div class="details">
                            <img id="rating-star" src="./assets/star.svg" alt="">
                            <p id="rating">4.5</p>
                            <p id="location">Jump Cafe - Nepal</p>
                        </div>
                    </div>
                    <div class="food">
                        <img src="./assets/chicken_salad.png" alt="">
                        <div class="food_title">
                            <span>Classic Chicken Salad</span>
                        </div>
                        <div class="details">
                            <img id="rating-star" src="./assets/star.svg" alt="">
                            <p id="rating">4.5</p>
                            <p id="location">Jump Cafe - Nepal</p>
                        </div>
                    </div>
                </div>
                <div class="food-container">
                    <div class="section-title">
                        <span>Recommendation for you</span>
                    </div>
                    <div class="foods">
                        <div class="food">
                            <img src="./assets/chicken_salad.png" alt="">
                            <div class="food_title">
                                <span>Classic Chicken Salad</span>
                            </div>
                            <div class="details">
                                <img id="rating-star" src="./assets/star.svg" alt="">
                                <p id="rating">4.5</p>
                                <p id="location">Jump Cafe - Nepal</p>
                            </div>
                        </div>
                        <div class="food">
                            <img src="./assets/chicken_salad.png" alt="">
                            <div class="food_title">
                                <span>Classic Chicken Salad</span>
                            </div>
                            <div class="details">
                                <img id="rating-star" src="./assets/star.svg" alt="">
                                <p id="rating">4.5</p>
                                <p id="location">Jump Cafe - Nepal</p>
                            </div>
                        </div>
                        <div class="food">
                            <img src="./assets/chicken_salad.png" alt="">
                            <div class="food_title">
                                <span>Classic Chicken Salad</span>
                            </div>
                            <div class="details">
                                <img id="rating-star" src="./assets/star.svg" alt="">
                                <p id="rating">4.5</p>
                                <p id="location">Jump Cafe - Nepal</p>
                            </div>
                        </div>
                        <div class="food">
                            <img src="./assets/chicken_salad.png" alt="">
                            <div class="food_title">
                                <span>Classic Chicken Salad</span>
                            </div>
                            <div class="details">
                                <img id="rating-star" src="./assets/star.svg" alt="">
                                <p id="rating">4.5</p>
                                <p id="location">Jump Cafe - Nepal</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>