<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
</head>
<body>
    <main>
        <div class="navbar">
            <div class="logo_container">
                <img src="./assets/teslaLogoSmall.svg" alt="">
            </div>
            <div class="center_container">
                <a href="">Model S</a>
                <a href="">Model 3</a>
                <a href="">Model X</a>
                <a href="">Model Y</a>
                <a href="">Solar Roof</a>
                <a href="">Solar Panels</a>
            </div>
            <div class="right_container">
                <a href="">Shop</a>
                <a href="">Account</a>
            </div>
        </div>
        <div class="body_container">
            <div class="desc">
                <h2>Model S</h2>
                <p>Order Online for Touchless Delivery</p>
            </div>
            <div class="button-container">
                <button id="btn1">Custom Order</button>
                <button id="btn2">Existing Inventory</button>
            </div>
        </div>
    </main>
</body>
</html>